@import '../base/abstracts';

.container {
  display: flex;
  justify-content: center;
  height: 45px;
  position: sticky;
  top: 0;
  z-index: 1;

  .nav {
    width: 75%;
    padding: 10px;
    background: $black;
    color: $white;
    display: flex;
    align-items: center;
    list-style: none;

    ul {
      display: flex;
      flex: 1;
      justify-content: space-around;
      align-items: center;
      height: 100%;

      li {
        display: flex;
        align-items: center;
        font-size: 0.875rem;
        height: 100%;
      }
    }

    li {
      cursor: pointer;
    }

    .logo {
      margin-right: 1rem;
    }

    .carrot {
      margin-left: 0.5rem;
    }

    .dropdown {
      display: none;
      position: absolute;
      background: linear-gradient(
        90deg,
        rgba(131, 58, 180, 1) 0%,
        rgba(219, 62, 177, 1) 100%,
        rgba(252, 176, 69, 1) 100%
      );
      grid-row-gap: 15px;
      font-size: 0.75rem;
      top: 100%;
      left: -40%;
      z-index: 1;

      .dropdown-item {
        &.active {
          text-decoration: underline;
        }
        &:hover {
          color: $vice-blue;
        }
      }
    }

    .delay {
      position: relative;
      .delay-dropdown {
        display: none;
      }
      &:hover {
        .dropdown {
          display: grid;

          &.delay-dropdown {
            width: 100px;
            padding: 1rem;
          }
        }
      }
    }
  }
}
