html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  background-color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: #fff;
  font-size: 34px;
  margin-bottom: 2rem;
}

p {
  color: #fff;
}

.loading,
.error {
  text-align: center;
  padding: 15px;
}

.loading-icon {
  color: #41b6e6;
}
