@import '../base/abstracts';

.image-container {
  position: relative;
  width: 100%;

  &.random-image {
    margin-bottom: 2rem;
    border: 3px solid $white;
  }

  img {
    width: 100%;
    max-height: 400px;
  }

  &:hover {
    .image-details {
      opacity: 1;
      background: rgba(0, 0, 0, 0.5);
    }
  }

  .image-details {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    color: $white;
    opacity: 0;
    transition: all 0.5s;
    background: rgba(0, 0, 0, 0);

    .star {
      align-self: flex-end;
      cursor: pointer;
    }
    h2 {
      text-transform: uppercase;
      font-size: 1.2rem;
      align-self: center;
      margin: auto;
    }
  }
}
